/*these are the margins and paddings of the website*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*this will apply the font poppins to the main slogan of the website*/
body{
    font-family: 'Poppins', sans-serif;
}

/*this handles the position of the logo and the tabs*/
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

/*this will align the tabs of navigation bar to the right*/
nav{
    flex:  1;
    text-align: right;
}

/*this will align the tabs of navigation bar in line*/
nav ul{
    display: inline-block;
    list-style-type: none;
}

/*this will align the tabs of navigation bar in line*/
nav ul li{
    display: inline-block;
    margin-right: 20px;
}

/*this will remove the decoration of the tabs and apply black color to the font of tabs*/
a{
    text-decoration: none;
    color: #555;
}

/*apply black color to the font of paragraph*/
p{
    color: #555;
}

/*this will handle the logo, tabs, the slogan image, the slogan paragraph, 'explore now tab', the cart tab, the front page image*/
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/*this will handle the slogan image, the slogan paragraph, 'explore now tab'.*/
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}


.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

/*this will handle the editing of slogan image.*/
.col-2 img{
    max-width: 500%;
    padding: 50px 0;
}

/*this will handle the editing of slogan.*/
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

/*this will handel the editing of explore now tab.*/
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

/*this will give the hover effect and code color to the explore now tab.*/
.btn:hover {
    background: #563434;
}

/*this will give background colour to the whole website.*/
.header{ 
    background: radial-gradient(#ffff, #ffd6d6);
}

/*this will left a sapce between the tabs and the slogan.*/
.header .row{
    margin-top: 70px;
}

/*this will handle the categories of our website and set the margin of three of them to 70 pixels.*/
.categories{
    margin: 70px 0;

}

/*30% because there are 3 columns, and this will allow all the columns to occupy 30% space, 250px width, and 30px margin bottom, this will align the three categories together in one line an in order.*/
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

/*this will handle the width of three categories images.*/
col-3 img{
    width: 100%;
}

/*this will align the images of three categories, it will leave spaces from left and right*/
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/*25% because there are 4 columns, padding form all the sides, and margin from the bottom. Transition is for hover effect for feature products */
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

/*this will align the image in the 4 columns.*/
.col-4 img{
    width: 100%;
}

/*this will move the heading to the center, and handles the further editing of heading of 'Fetaured Products'*/
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

/*for bottom line below the heading of Fetaured Products'*/
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*this will change the colour of the names of the featured products*/
h4{
    color: #555;
    font-weight: normal;
}

/*this will change the font size of the names of the featured products */
.col-4 p{
    font-size: 14px;
}

/*this will changethe color of the star icons*/
.rating .fa{
    color: #ff523b;
}

/*this will add the hover effect on the featured products, each product will move by -15px*/
.col-4:hover{
    transform: translateY(-15px);
}

/*------------------------offer--------------------------------------------------------------*/

/*this will highlight the offer bar of the site*/
.offer{
    background: radial-gradient(#ffff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

/*reducing the size of offer image.*/
.col-2 .offer-img{
    padding: 50px;
}

/*changing the color of small parapgraph of offer*/
.small{
    color: #555;
}


/*----------------------------------------Testimonial------------------------------------------------------------------------*/
.testimonial{
    padding: 100px;
}

/*this will allign the columns and and add shadows to the boxes*/
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

/*this will edit the image of the users*/
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50px;
}

/*adding hover to the reviews of the user.*/
.testimonial .col-3:hover{
    transform: translateY(-15px);
}

/*these two will add colour to the inverted commas.*/
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}

.fa.fa-quote-right{
    font-size: 34px;
    color: #ff523b;
}

/*this will decrease the font size of the reviews and also its color.*/
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

/*this will edit the names of the user.*/
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/*------------------------------------------------Brands------------------------------------------------------------------*/

/*this will left a space between the reviews and the brands.*/
.brands{
    margin: 100px auto;
}

.col-5{
    width:160px;
}

.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);   /*this will make all the brands color grey.*/
}

/*when we will touch the logo it will come into its original form.*/
.col-5 img:hover{
    filter: grayscale(0);
}

/*--------------------------------------footer------------------------------------------------------------------------------*/

/*this will add background color to the footer*/
.footer{
    background: #000;
    color:#8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color: #8a8a8a;  /*addig font color to the paragraph*/
}

/*leaving a line between headngs*/
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

/*this will add spaces between 4 columns*/
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex: 1;
    text-align: justify-all; 
}

/*this will edit the image.*/
.footer-col-2 img{
    width: 250px;
    margin-bottom: 20px;
    position: center;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

/*this will remove the bullet points*/
ul{
    list-style-type: none;
}

/*this will add spaces for the logos*/
.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}


/*this will edit the copyright bar*/
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}

/*this will edit the menu bar*/
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}


/*-----------------------------------------------media query for menu------------------------------------------------------*/

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: #fff;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }
    
}

/*----------------------------------------All Products----------------------------------------------------------------------*/

/*this will add a space between All products and sorting.*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

/*this will edit the sorting bar of all products.*/
select{
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus{
    outline: none;
}

/*edit the page numbers of products*/
.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

/*adding color to the tabs*/
.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}


/*-----------------------------------single product detials-----------------------------------------------------*/

/*these all tabs will eidt the product details tab*/
.single-product{
    margin-top: 80px;
}

.single-product .col-2 img{
    padding: 0;
}

.single-product .col-2{
    padding: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}

input:focus{
    outline: none;
}

.single-product .fa{
    color: #ff523b;
    margin: 10px;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.col-2 img{
    width: 275px;
    height: 275px;
}

.small-img-col img {
    width: 100px;
    height: 100px;
}



/*----------------------------------------cart items---------------------------------------------------------------------*/
.cart-page{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: #ff532b;
    font-size: 12px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 340px;
}

td:last-child{
    text-align: right;
}

th:last-child {
    text-align: right;
}



/*---------------------------------account page-------------------------------------------------------------------*/
.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);
}

.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn{
    display: inline-block;
}

.form-container form{
    max-width:300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus{
    outline: none;
}

#LoginForm{
    left: -300px;
}

#RegForm{
    left: 0;
}

form a{
    font-size: 12px;
}

#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}
/*--------------------------media quesry for less than 600 screen size----------------------------------------*/

/*this code is for making the website preview better in mobile view.*/
@media only screen and (max-width: 600px) {
    .row{
        text-align: center;
    }

    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }

    .single-product .row{
        text-align: left;
    }

    .single-product .col-2{
        padding: 20px 0;
    }

    .single-product  h1{
        font-size: 26px;
        line-height: 32px;
    }

    .cart-info p{
        display: none;
        flex-wrap: wrap;
    }
}